{% extends "site.twig" %}

{% block title %}{{ task.name }} v{{ draft.version }} - Word Cloud{% endblock %}
{% block subheader %}Your Draft : Word Cloud{% endblock %}

{% block bccontainer %}
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.view.cloud'} %}
{% endblock %}

{% block content %}
<div class="row-fluid"><div class="span12">

<div class="widget">
			<div class="widget-header" data-toggle="collapse" data-target="#demo">
				<h2>Key Words Cloud</h2>

			</div>

			<div class="widget-content" id='svg-container'></div>
			</div>

{# <div class="widget hidden">
			...

			<div class="widget-content" id='svg-angles'>
					...
			</div>
	</div>
#}

</div></div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script src="{{ 'd3' | javascript }}"></script>
<script src="{{ app_base }}/assets/d3.js/d3.layout.cloud.js"></script>

<script id="cloud-js-view">

var fill = d3.scale.category20();

var words = {{ keywords|json_encode|raw  }};

d3.layout.cloud().size([800, 600])
    .words(words.map(function(d) {

      return {text: d.ngram.join(" "), count: d.count, size: 10 + d.count};
    }))
    .rotate(function() { return 0; })
    .font("Impact")
    .fontSize(function(d) { return 2*d.size; })
    .on("word", progress)
    .on("end", draw)
    .start();

 function progress(d) {
	  //console.log(d);
	}

 function draw(words) {
	 svg = d3.select("#svg-container").append("svg:svg")
	 	.attr("role","img")
	 	.attr("aria-label","Word cloud of the key words and key phrases")

	//svg.append("desc").text("Word cloud of the key words and key phrases");
	svg.append("title")
	 	.text("Word cloud of the key words and key phrases");

	svg.style("margin", "auto auto")
		.style("display", "block")
		.attr("width", "800")
		.attr("height", "600")
	.append("g")
    	.attr("transform", "translate(400,300)")
    .selectAll("text")
    	.data(words)
    	.enter().append("text")
    		.attr("aria-label",function(d) { return d.text + ". Frequency  " + (d.count) + "!"; })
     		.style("font-size", function(d) { return d.size + "px"; })
      		.style("font-family", "Impact")
      		.style("fill", function(d, i) { return fill(i); })
      		.attr("text-anchor", "middle")
      		.attr("transform", function(d) {
        		return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      		})
      		.text(function(d) { return d.text; })
      		.append("title")
	 			.text(function(d) {return d.text + ", Frequency: " + (d.count); });
}

{# -------------------------------------------------------------------
 # Unused code (hidden widget) moved to:  'public_html/assets/x-unused/d3-svg-angles-widget.js'

(function() {
	  var r = 40.5,
	      px = 35,
	      py = 20;

	  var angles = d3.select("#svg-angles").append("svg")

				// ...
	})();
#}

</script>
{% endblock %}
