{% extends 'base.html.twig' %}

{% block injectCSS %}
<link href="{{ app_base }}/assets/jquery.pnotify/jquery.pnotify.default.css" media="all" rel="stylesheet">
<link href="{{ app_base }}/assets/openessayist/css/app.pnotify-modal-etc.css" rel="stylesheet">

{# <style>
.ui-pnotify .ui-pnotify-title {
    margin-bottom: 0.4em;
}
  ...

</style> #}
{% endblock %}

{% block injectJS %}
{# <script src="{{ app_base }}/assets/bootstrap-wysiwyg/jquery.hotkeys.js"></script>
<script src="{{ app_base }}/assets/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> #}
<script src="{{ app_base }}/assets/jquery.pnotify/jquery.pnotify.js"></script>

{% if helpontask is defined %}
<script id="helpmodal-js-config"
  data-help_url="{{ urlFor('ajax.help.topic',{'topic':helpontask}) }}"
  data-hint_url="{{ urlFor('ajax.help.hint',{'topic':helpontask}) }}"
  ></script>

{# <script helpmodal> moved to: 'public_html/assets/op../..helpmodal.js '#}
<script src="{{ app_base }}/assets/openessayist/js/openessayist.helpmodal.js" id="helpmodal"></script>

{# <script id="helpmodal">
$.pnotify.defaults.history = false;
$.pnotify.defaults.openessayist = {"dir1": "up", "dir2": "left", "firstpos1": 50, "firstpos2": 10, "spacing1":10};

  // ...
});
</script> #}

{% endif %}

<script src="{{ app_base }}/assets/openessayist/js/openessayist.ajax.js" id="ajax"></script>

{# <script id="ajax" type="text/javascript">
var $modal = null;
$('#btn-notepad').on('click', function(){
  // ...
});
</script> #}

{% endblock %}

{% block toolcontainer %}
	<div id="help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	</div>

	{% if auth.user %}
{#<div id="note-container">
	<div id="note-settings-btn" class="settings-btn btn btn-app btn-mini btn-warning">
		<i class="icon-edit"></i>
	</div>
	{% if auth.user.isadmin %}
	<div id="admin-settings-btn" class="settings-btn btn btn-app btn-mini btn-info">
		<i class="icon-cog"></i>
	</div>
	{% endif %}
</div>#}

	<div id="modal-notes" class="modal container hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-notes-title" aria-hidden="true">
	<div class="modal-header">
		<h1 id="modal-notes-title">Your Personal Notes</h1>
	</div>
	<div class="modal-body">

		<div contenteditable="{{ (auth.user.isdemo==0)?'true':'false' }}" id="editor">
			Go ahead...<br>
		</div>





	</div>

	<div class="modal-footer">

		<button class="btn btn-primary" data-dismiss="modal"
			aria-hidden="true">OK</button>
	</div>
</div>


{% endif %}{% endblock %}
